/* *Project cards */
.card-text-project-desc {
    overflow: scroll;
    height: 150px;
    max-height: 150px;
}

.card-text-project-desc::-webkit-scrollbar {
    display: none;
}

.card-text-project-desc {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.card-text-project-name {
    overflow: scroll;
    height: 60px;
    max-height: 60px;
}

.card-text-project-name::-webkit-scrollbar {
    display: none;
}

.card-text-project-name {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}